.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.header__left {
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
}

.header__right {
  font-size: 20px;
}
.header__right i {
  cursor: pointer;
}

.header__right i {
  padding: 0px 7px;
}

.header__right i:last-child {
  padding-right: 15px;
}

.header__chat {
  padding-bottom: 30px;
}

.header__back {
  padding-right: 13px;
}
