.nav-bar {
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fcfcfc;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-bar i {
  font-size: 20px;
  color: #000000;
}
