.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.status-bar i {
  color: rgba(0, 0, 0, 0.7);
}

.status-bar i:nth-child(3) {
  padding-right: 5px;
}
