@import "status-bar.css";
@import "header.css";
@import "avatar.css";
@import "chats.css";
@import "nav-bar.css";
@import "friends.css";
@import "find.css";
@import "more";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}
